*.bkp
*.dtmp
.env
.env.prod
.env.makefile
/docker/data
/docker/volumes/db/data
node_modules
/server/keys
/server/log
/server/tmp
__debug_bin
.zip

# Lambda environment files
lambda/**/.env
lambda/**/function.zip
lambda/**/node_modules
lambda/**/response.json